*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}
h1,h2,h3,h4,h5{
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}
:root{
  --width:1000px;
}
body{
  background-color: rgb(240, 236, 236);
}
li,li a,a{
  list-style: none;
  text-decoration: none;
  color: inherit;
}
.container{
  max-width: var(--width);
  margin: auto;
  display: grid;
  padding: .7rem 0;
  grid-template-columns: 5fr 2fr 1fr;
  overflow: hidden;
}
.navbar{
  position: sticky;
  top: 0px;
  background-color: white;
  overflow: hidden;
  z-index: 10;
}
.socialmedia,.nav{
  display: flex;
  align-items: center;
}
img{
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.navbar ul li{
  list-style: none; 
  text-decoration: none;
}
.socialmedia li{
  padding: 0 .2rem;
}
.navbar ul li a{
  text-decoration: inherit;
}
.socialmedia li a i{
  color: #777777;
  transition: all .3s ease;
}
.socialmedia li a:hover i{
  color: #C72727;
}
.nav li a{
  padding: .8rem;
  font-weight: 500;
  border-radius: 2px;
  color: rgb(27, 26, 26);
  transition: all .2s ease-in-out;
}
.nav .current a{
  background-color: #C72727;
  color: white; 
}
.nav .current a:hover{
  color: rgb(27, 26, 26);
}
.nav li a:hover{
  background-color: #e6e6e6;
}

main article{
  color: white;
  max-width: var(--width);
  margin: auto;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
}
main::before{
  content: '';
  background: url(/image_resources/featured.jpg) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .4;

}
main{
  position: relative;
  background-color: #333;
}
.btn{
  background: #C72727;
  padding: .8rem 1.5em;
  border-radius: 2px;
  display: inline-block;
}
.btn:hover{
  opacity: .85;
}
.flag{
  display: inline-block;
  font-size: .7rem;
  border-radius: 15px;
  padding: 0.25rem 0.4rem;
  text-transform: uppercase;
  color: white;
}
main .header{
  z-index: 1;
}
.header .flag{
  background: #F99500;
}
.header h1{
  letter-spacing: -0.08rem;
}
.header p{
  
  margin: 1rem 0;
}
p{
  line-height: 1.5rem;
}
h3.editor{
  max-width: var(--width);
  margin: auto;
  padding: 1.5rem 0;
}
.home-section{
  padding: 1rem 0;
  display: grid;
  max-width: var(--width);
  margin: auto ;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1rem;
}
.grid{
  display: grid;
  background-color: white;
  justify-content: center;
  padding: 1rem;
}
.grid .lorem h3{
  padding: .5rem 0;
}
.grid-1{
  grid-column: 1/3;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 1rem ;
  align-items: center;
}
.grid-2{
  color: white;
  background-color:#333333;
  
}
.grid-6{
  background-color: #C72727;
  color: white;
}
.grid-7{
  grid-template-columns: repeat(2,1fr);
  grid-column: 2/4;
  grid-gap: 0 1rem ;
  align-items: center;
}

.grid-1 .flag,.grid-7 .flag{
  background-color: #A66BBE;
}
.grid-2 .flag,.grid-4 .flag,.grid-6 .flag{
  background-color: #F99500;
}
.grid-3 .flag,.grid-5 .flag{
  background-color: #009CFF ;
  margin-top: 1rem;
}
footer{
  background: #333;
  padding: 1.5rem 0;
  margin: 1rem 0;
}
footer .foot{
  max-width: var(--width);
  margin: auto;
  color: white;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 1rem 2rem;
  justify-content: center;
}
.foot img{
  width: 70%;
  padding-bottom: .7rem;
}

.foot p{
  font-size: 1rem;
  padding: 1rem 0;
}
.foot form input{
  display: inline-block;
  max-width: 100%;
  padding: .5rem;
  margin: .4rem 0;
  color: white;
  border: none;
}
.foot form input:first-child{
  color: black;
}

.foot ul,.second-grid ul{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  padding: 1rem 0;

}
.foot li,.second-grid li{
  border-bottom: .3px rgb(87, 84, 84) dotted;
  padding: .5rem 0rem;
  max-width: 100%;
}
.foot li:hover,.second-grid li:hover{
  color: #C72727;
}
.name-4 .btn{
  background: #F99500;
}
footer .foot > *:last-child{
  background: #444444;
  grid-area: 2/span 4;
  text-align: center;
  
}
footer .foot > *:last-child p{
  font-size: .8rem;
}
article .second-grid{
  max-width: var(--width);
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-gap: 1.5rem;
}
article .second-grid > *{
  padding: 1rem;
}
article .second-grid h1{
  font-size: 2.5rem;
  padding-bottom: 1rem;
}
.article-2{
  background-color: #C72727;
  color: white;
  
}
.article-1{
  background-color: white;
  grid-row: 1/span 4;
  
}
.article-2 p{
  margin: 1rem 0;
  
}
.article-2 a{
  background-color: #333333;
  width: 100%;
  text-align: center;
  
}
.article-grid{
  background-color: #EEEEEE;
}
.second-grid .article-3{
  background-color: white;
}
.second-grid .article-2{
  background-color: #F99500;
}
.second-grid .article-grid{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .8rem 0.5rem;
}
.second-grid .article-grid p{
  color: black;
  font-size: .8rem;
}
.second-grid .article-grid .flag{
  background-color: #A66BBE;
  color: white;
  font-size: .65rem ;
}
@media (max-width : 900px){
  .home-section{
    grid-template-columns: repeat(2,1fr);
    margin: 0 2rem;
  }
  h3.editor{
    text-align: center;
  }
  .grid-1{
    grid-template-columns: 1fr;
    grid-column: 1;
    
  }
  .grid-7{
    grid-template-columns: 1fr;
    grid-column: 1;
  }
  main article{
    margin: auto 2rem;
    height: 65vh;
    grid-template-columns: repeat(2,1fr);
  }
  footer .foot{
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
  }
  footer{
    padding: 2.5rem;  
  }
  footer .foot > *:last-child{
    grid-column: 1/3;
    grid-row: 3; 
  }
  article .second-grid{
    grid-template-columns: 3fr 2fr;
  }
  .socialmedia{
    display: none;
  }
  .container{
    padding: 1rem;
    margin: .3rem;
  }
}
@media(max-width:500px){
  .home-section{
    grid-template-columns: 1fr;
  }
  main article{
    grid-template-columns: 1fr;
  }
  
  footer .foot{
    grid-template-columns:1fr;
  }
  footer .foot > *:last-child{
    grid-column: 1;
    grid-row: 6;
  }
  .foot form input{
    display: inline-block;
    width: 100%;
    padding: .7rem;
    margin: .4rem 0;
  }
  .foot li,.second-grid li{
    border-bottom: .3px rgb(87, 84, 84) dotted;
    padding: .5rem 0rem;
    width: 100%;
  }
  .container{
    justify-content: center;
    align-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    
  }
  .nav,.container img{
    justify-self: center;
  }
  article .second-grid{

    grid-template-columns: 1fr;
  }
  article .second-grid{
    grid-template-columns: 1fr;
  }
}
/*file:///C:/Users/asus/Downloads/[FreeAllCourse.Com]%20Udemy%20-%20Modern%20HTML%20&%20CSS%20From%20The%20Beginning%20(Including%20Sass)/12.%20NewsGrid%20Website/1.1%20newsgrid/newsgrid/index.html*/